
<div class="card-container d-flex flex-grow-1 my-3 shadow" style="border-radius: 10px; background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 60%), url('https://source.unsplash.com/random/?horse/300/200'); background-size: fit; background-position: center;">
  <div class="d-flex shadow flex-column justify-content-between" style="border-radius: 10px; height: 80vh;">
    <p></p>
    <div class="d-flex flex-column px-2" style="color: #AAAAAA">

      <div class="d-flex justify-content-between align-items-start text-white">
        <h2 style="max-width: 75%;"><%= club.name %></h2>
        <div class="btn btn-info d-block d-sm-none" style="border-radius: 30px">i</div>
        <div class="btn btn-info d-none d-sm-block" style="border-radius: 30px"><span class='small'>En savoir +</span></div>
      </div>

      <div class="d-flex flex-wrap gap-2 text-dark align-items-center small">
        <% club.activities&.first(3)&.each do |activity| %>
          <div class="btn btn-outline-info pill"><%= activity.name %></div>
        <% end %>
        <% if club.activities.count > 3 %>
        <div class="text-info">et <%= club.activities.count - 3 %> autres...</div>
        <% end %>
      </div>

      <div class="d-flex justify-content-between small">
        <p>code postal</p>
        <p>102 bd des batignolles Paris zoeunuon</p>
        <p>3km</p>
      </div>
      <p class="small">Short description should only span 2 lines if small viewport, and can span 2 lines as well if large. </p>

    </div>
  </div>
</div>
