<div class="container-fluid">
    <!-- Row for your content -->
    <div class="row">

        <div class="d-none d-sm-block col-sm-2 col-md-3">
            <!-- Content for left side column -->
        </div>

        <!-- Main Container -->
        <div class="col-12 col-sm-8 col-md-6 d-flex flex-column justify-content-center" style="height: calc(100vh - 60px);">
          <div class="d-flex justify-content-around border">
            <h1>picker 1</h1>
            <h1>picker 2</h1>
          </div>

          <div class="d-flex flex-grow-1 my-3 shadow" style="border-radius: 10px; background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 60%), url('https://source.unsplash.com/random/?horse/300/200'); background-size: fit; background-position: center;">
            <div class="flex-grow-1 d-flex shadow flex-column justify-content-between" style="border-radius: 10px;">
              <p></p>
              <div class="d-flex flex-column px-2" style="color: #AAAAAA">

                <div class="d-flex justify-content-between align-items-start text-white">
                  <h2 style="max-width: 75%;">FC SMASH BROS ULTIMATE</h2>
                  <div class="btn btn-info d-block d-sm-none" style="border-radius: 30px">i</div>
                  <div class="btn btn-info d-none d-sm-block" style="border-radius: 30px"><span class='small'>En savoir +</span></div>
                </div>

                <div class="d-flex flex-wrap gap-2 text-dark align-items-center small">
                  <div class="btn btn-outline-info pill">yoga </div>
                  <div class="btn btn-outline-info pill">satsang </div>
                  <div class="btn btn-outline-info pill">méditation</div>
                  <div class="btn btn-outline-info pill">cours de cuisine</div>
                  <div class="text-info">et 3 autres...</div>
                </div>

                <div class="d-flex justify-content-between small">
                  <p>code postal</p>
                  <p>102 bd des batignolles Paris zoeunuon</p>
                  <p>3km</p>
                </div>
                <p class="small">Short description should only span 2 lines if small viewport, and can span 2 lines as well if large. </p>

              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-sm-block col-sm-2 col-md-3">
            <!-- Content for right side column -->
        </div>

    </div>
</div>
