<footer class="footer">
  <div class="container text-center py-3">
    © <%= Time.now.year %> Youclub. All rights reserved.
  </div>

  <div class="container text-center py-3">
    <%= link_to "Mentions légales", pages_legal_path %>
  </div>
</footer>
