<div class="navbar navbar-expand-sm  navbar-lewagon">
  <div class="container-fluid my-0 justify-content-between">
    <%= link_to "#", class: "navbar-brand" do %>
      <span class="bangers-font">Youclub</span>
    <% end %>

    <% if Lead.count < 200 %>
     <h5 class="ms-3" style="color: #DDDDDD;"> <span class="text-success"><%= 200 - Lead.count %></span> places restantes </h5>
    <% end %>

    <%= link_to "Login", '#', class: "nav-link" %>
    </div>
  </div>
</div>
