<%
  set_meta_tags(
    noindex: true,
    nofollow: true
  )
%>
<div class="row justify-content-center">
  <div class="col-sm-8 border p-3 d-flex flex-column">
    <%# Titre %>
    <h1 class='align-self-center'>Tableau de bord</h1>

    <%# Section premium %>

    <%# Clubs list %>
    <h3>Vos clubs</h3>
    <% if @user.clubs.any? %>
      <% @user.clubs.each do |club| %>
        <%= link_to edit_club_path(club), class: "text-decoration-none my-3" do %>
          <div class="d-flex align-items-center shadow gap-3 p-2">
            <!-- Image -->
            <%= cl_image_tag(club.photos.first.key, class: "rounded-circle", width: 100, height: 100, crop: 'thumb', radius: 'max') if club.photos.any?%>
            <div class="d-flex flex-column justify-content-center w-100">

              <!-- Club Name -->
              <h1 class="btn btn-dark w-100"><%= club.name.upcase %></h1>

              <!-- Activities Links -->
              <div>
                <% club.activities.each do |activity| %>
                  <%= link_to activity.name, activity_path(activity), class: "btn btn-outline-dark" %>
                <% end %>
              </div>
            </div>

            <!--Upgrade Button -->
                <div class="text-secondary border p-1 text-center"> <i class="fas fa-lock px-2"></i>Upgrader</div>
              <% if club.standard? %>
              <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Votre club n'apparait pas ? merci de contacter le support à youclubdev@gmail.com</p>
    <% end %>
  </div>
</div>
