<div class="container mt-3">
  <h2>Politique d'utilisation des cookies pour Youclub</h2>
  <p><strong>Introduction</strong><br>
    Youclub utilise des cookies pour améliorer l'expérience utilisateur, réaliser des analyses statistiques et préparer des publicités ciblées.
  </p>

  <h4>Types de Cookies Utilisés</h4>
  <ul class="list-group">
    <li class="list-group-item">Cookies de session : pour le bon fonctionnement du site.</li>
    <li class="list-group-item">Google Analytics : pour analyser le comportement des utilisateurs.</li>
    <li class="list-group-item">Google Search : pour optimiser la recherche sur le site.</li>
  </ul>

  <h4>Objectifs</h4>
  <p>
    Amélioration de l'expérience utilisateur : par exemple, mémorisation des préférences de catégorie, sous-catégorie et localisation.<br>
    Analyse statistique et publicité ciblée : anticipation de l'utilisation de Google Ads.
  </p>

  <h4>Consentement des Utilisateurs</h4>
  <p>Le consentement est collecté clairement au début de chaque session utilisateur.</p>

  <h4>Gestion des Préférences et Retrait du Consentement</h4>
  <p>Les utilisateurs peuvent gérer ou retirer leur consentement dans la section 'Modifier mon compte'.</p>

  <h4>Partage de Données</h4>
  <p>Il n'y a pas de partage de données collectées via les cookies avec des tiers.</p>

  <h4>Sécurité et Confidentialité</h4>
  <p>Actuellement, aucune mesure spécifique n'est mise en place pour protéger les données collectées par les cookies.</p>

  <h4>Contact</h4>
  <p>Pour toute question relative à notre politique de cookies, veuillez contacter <a href="mailto:youclubdev@gmail.com">youclubdev@gmail.com</a>.</p>

  <p class="text-muted">Cette politique est conforme à la réglementation en vigueur et reflète l'engagement de Youclub à respecter la vie privée de ses utilisateurs.</p>
</div>
