<h1>ACTIVITIES</h1>
<!-- This is the container for the map that should be controlled by the 'place' Stimulus controller -->
<div data-controller="places">
<!-- It seems you have another 'places' controller. If it's not related to the map, it should be separated. -->
  <div class="row">
    <div class="col-lg-7">
      <div data-places-target="map" style="height: 400px; width: 100%;" class="rounded-lg"></div>
      <!-- OR -->
      <div data-places-target="zipcode"></div> <!-- If you want the postal code to be in a div -->
    </div>

  </div>
</div>
